.navcontainer{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100px;
    color: white;
    position: fixed;
    background-color: rgb(239, 165, 208);
    width: 100vw;
    z-index: 1;
    opacity: 85%;
}

.mainnav{
    display: flex;
}

.logo{
    height: 50px;
}

.toplink{
    margin: 0px 20px;
    text-decoration: none;
    color: white;
    align-self: center;
}

.section{
    height: 100vh;
    background-color: black;
    margin: 0px;
    display: flex;
    position: relative;
}

.sectiontext{
    position: absolute;
    top: 200px;
    left: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

h3 {
    background: black;
    width: 100px;
    color: white;
    border-radius: 5px;
    border: white 2px solid;
    margin-bottom: -5px;
}

h2 {
    background: black;
    color: white;
    width: 230px;
    height: 30px;
    border-radius: 10px;
    border: white 2px solid;

}

.readmore{
    border: 5px rgb(239, 165, 208) solid;
    background: black;
    color: rgb(239, 165, 208);
    width: 100px;
    padding: 5px;
    border-radius: 15px;
    margin: 0;
    margin-top: 30px;
    font-weight: 900;
    text-decoration: none;
    
}

.readmore:hover {
    background-color: rgb(255, 255, 255);
}

.ginger{
    background-image: url(https://wallpapers.com/images/high/ginger-cat-pictures-2560-x-1600-gog2ubj1b0t1dpqr.webp);
    background-size: cover;
    
}

.forestcat{
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/030/200/734/small_2x/norwegian-forest-cat-exploring-a-snowy-landscape-its-thick-fur-contrasting-with-the-pristine-white-snow-generative-ai-photo.jpg) ;
    background-size: cover;
}

.mainecoon{
    background-image: url(https://images.pexels.com/photos/14639094/pexels-photo-14639094.jpeg) ;
    background-size: cover;
}

body{
    margin: 0px;
}

.socialsbar {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 15px;
}

footer{
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 15px;
}

.footertext {
    margin: 15px;
}

.socialsbar img {
    height: 30px;
}
.backtotop {
    background-color: rgb(239, 165, 208);
    border-radius: 10px;
    color: black;
    padding: 4px;
}

html {
    scroll-behavior: smooth;
  }