.mainnav{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100px;
    color: white;
    position: fixed;
}

.logo{
    height: 50px;
    margin: 914px;
}

.toplink{
    margin: 0px 20px;
}

.section{
    height: 100vh;
    background-color: black;
    margin: 0px;
}

.sectiontext{
    position: relative;
    top: 200px;
    left: 30px;    
}

h3 {
    background: black;
    width: 100px;
    text-align: center;
    color: white;
}

h2 {
    background: gray;
    width: 200px;
    text-align: center;
    color: black;
}

.readmore{
    border: 5px red solid;
    background: black;
    color: aliceblue;
    width: 100px;
    padding: 10px;
    margin: 0px;
}

/*created individual classes to give each element some
individuality while making the sections appear uniform*/

.ginger{
    background-image: url(https://wallpapers.com/images/high/ginger-cat-pictures-2560-x-1600-gog2ubj1b0t1dpqr.webp);
    background-size: cover;
    
}

.forestcat{
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/030/200/734/small_2x/norwegian-forest-cat-exploring-a-snowy-landscape-its-thick-fur-contrasting-with-the-pristine-white-snow-generative-ai-photo.jpg) ;
    background-size: cover;
}

.mainecoon{
    background-image: url(https://images.pexels.com/photos/14639094/pexels-photo-14639094.jpeg) ;
    background-size: cover;
}

body{
    margin: 0px;
}

footer{
    text-align: center;
    background-color: black;
    color: white;
}
